/*Variables for coloring scheme*/
:root{
    --primary: rgb(121,82,125);
    --secondary: cyan;
    --tertiary: rgb(17, 71, 126);
    --dark: rgba(28, 29, 33, 1);
    --light: gainsboro;
}
/*Set font family for the entire body of the site and set width and hgith properies with box-sizing*/
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*Set background color for entire page to light variable*/
body{
    background-color: var(--light);
    font-size: 16px;
}
/*Header element selector*/
header {
    /*Set padding around the header*/
    padding: 15px 6% 15px 0;
    /*Allows element to fit on one row*/
    display: flex;
    /*Keeps nav menu in a row*/
    flex-direction: row;
    /*Provides space between elements within header*/
    justify-content: space-between;
    /*allows elemnts in header to wrap when screen size changes*/
    flex-wrap: wrap;
    /*aligns elements to the center of the header*/
    align-items: center;
    /*Sets BGC to dark blue variable color*/
    background-color: var(--tertiary);
}
/*Element Selctor h1's under Header element*/
header h1 {
    /*Sets text to dark blue variable color*/
    color: var(--tertiary);
    /*sets BGC to Cyan*/
    background-color: var(--secondary);
    /*Proivees padding for h1 element*/
    padding: 5px 1% 5px 5%;
    /*No margin*/
    margin: 0;
    /*Changes depending on the viewport*/
    font-size: 3vw;
    /*Spacing between lines*/
    line-height: 1;
}
/*Element elector for Nav elements*/
nav {
    /*lays out contents according to flexbox model*/
    display: flex;
    /*sets content to be in row format*/
    flex-direction: row;
    /*allows content to go to next line when screen size is changed*/
    flex-wrap: wrap;
}
/*elements selctor for A's under nav element*/
nav a {
    /*Clears out any decorations set by previous properties*/
    text-decoration: none;
    /*More padding on L/R then top and bottom*/
    padding: 5px 10px;
    /*Set color to variable for cyan*/
    color: var(--secondary);
    /*Margin only on right side*/
    margin-right: 10px;
    /*Provide linear gradient background when hovering*/
    background-image: linear-gradient(var(--secondary), var(--primary));
    /*does not allow BG image to repeat*/
    background-repeat: no-repeat;
    /*Limits background size to just be the bottom section*/
    background-size: 100% 0.2em;
    /*easy way to underline the text in nav bar*/
    background-position: bottom;
    /*Transition propeties effects the whole element in 0.5 seconds ease in*/
    transition: all 0.5s ease-in;
    /*sets to 1.4 times the normal font size*/
    font-size: 1.4rem;
}
/*Psuedo hover class for anchor tags in nav element*/
nav a:hover {
    /*Change background size to 100% by 100% was 100% by 0.2em*/
    background-size: 100% 100%;
    /*Change text color to light variable needed for contrast*/
    color: var(--light);
}
/*last annchor element will have no right margin*/
nav a:last-child {
    margin-right: 0;
}
/*Hero class selector for image at top of page*/
.hero{
    /*Sets background image grabbed from the internet*/
    background-image: url("../images/topimage.jpg");
    /*ensures background image covers the entire html element it is contained in*/
    background-size: cover;
    /*Positions BG image in the center of the element*/
    background-position: center;
    /*sets minimum view height*/
    min-height: 30vh;
    /*sets text color to light variable*/
    color: var(--light);
    /*provides more padding on L/R as then top and bottom*/
    padding: 2% 6%;
    /*allows content to follow flexbox model*/
    display: flex;
    /*packs flex items from the end*/
    justify-content: flex-end;
    /*packs flex items from the end*/
    align-items: flex-end;
    /*aligns text to the right */
    text-align: right;
    /*pads left hand side*/
    padding-left: 10vw;
}
/*element selector for all images under hero class, this is the picture of myself*/
.hero img {
    /*Set width for image of myself*/
    width: 150px;
    /*set margin to push away from side of the page*/
    margin: 20px;
    /*round out the corners of the border radius*/
    border-radius: 20%;
    opacity: 0.8;
}

.hero img:hover{
    opacity: 1;
}

.hero div {
    flex: 0 0 90%;
}

.hero h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 25px;
    line-height: 1.2;
    display: inline;
    font-family: fantasy, monospace, 'Courier New', Courier, monospace ;
}
.page{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.section{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}
.section > h2{
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    font-size: vw;
    line-height: 1.1;
    color: var(--primary);
}
.section > div{
    flex: 0 0 75%;
}

.section p{
    margin-bottom: 20px;
    color: black;
    font-family: monospace;
    font-size: 20px;
}
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}
.grid-item{
    border: 5px solid var(--primary);
    grid-column: span 4;
    background-color: tomato;
    color: var(--tertiary);
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode:luminosity;
    background-size: 150%;
    font-size: 0.8rem;
}
.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}
.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: tomato;
}
.grid-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
}
.grid-item h3 {
    font-size: 1.4rem;
}

.horiseon {
    background-image: url("../images/horiseon.png");
}
.treasureGame{
    background-image: url("../images/treasuregame.jpg");
}
.blockChain{
    background-image: url("../images/blockchain.jpg");
}
.sockets{
    background-image: url("../images/sockets.jpg");
}
.tree{
    background-image: url("../images/tree.jpg");
}
.weatherService{
    background-image: url("../images/weather.jpg");
}
.about-me-site{
    background-image: url("../images/aboutme.jpg");
}

.contactMe address{
    display: flex;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.contactMe address a{
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}
.contactMe address a:hover {
    background-size: 100% 88%;
    color: var(--light);
}

/* Footer formatting */
footer  {
    font-size: 1.0em;
    text-align: center;
    vertical-align: bottom;
  }
footer a:hover{
    background-size: 100% 100%;
    color: var(--light);
} 


@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .page-section > h2,
    .page-section > div {
        flex: 0 0 100%;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }

    .hero-banner {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 50px;
    }
}

/* Max Width 768px*/
@media screen and (max-width: 768px) {
    .grid-item,
    .grid-item:first-child {
        grid-column: 1 / -1;
    }

    .grid-container {
        grid-auto-rows: minmax(200px, 1fr);
    }

    .contactMe address {
        flex-direction: column;
        align-items: center;
    }
}
