/*Variables for coloring scheme*/
:root{
    --primary: rgb(121,82,125);
    --secondary: cyan;
    --tertiary: rgb(17, 71, 126);
    --dark: rgba(28, 29, 33, 1);
    --light: gainsboro;
}
/*Set font family for the entire body of the site and set width and hgith properies with box-sizing*/
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*Set background color for entire page to light variable*/
body{
    background-color: var(--light);
    font-size: 16px;
}
/*Header element selector*/
header {
    /*Set padding around the header*/
    padding: 15px 6% 15px 0;
    /*Allows element to fit on one row*/
    display: flex;
    /*Keeps nav menu in a row*/
    flex-direction: row;
    /*Provides space between elements within header*/
    justify-content: space-between;
    /*allows elemnts in header to wrap when screen size changes*/
    flex-wrap: wrap;
    /*aligns elements to the center of the header*/
    align-items: center;
    /*Sets BGC to dark blue variable color*/
    background-color: var(--tertiary);
}
/*Element Selctor h1's under Header element*/
header h1 {
    /*Sets text to dark blue variable color*/
    color: var(--tertiary);
    /*sets BGC to Cyan*/
    background-color: var(--secondary);
    /*Proivees padding for h1 element*/
    padding: 5px 1% 5px 5%;
    /*No margin*/
    margin: 0;
    /*Changes depending on the viewport*/
    font-size: 3vw;
    /*Spacing between lines*/
    line-height: 1;
}
/*Element elector for Nav elements*/
nav {
    /*lays out contents according to flexbox model*/
    display: flex;
    /*sets content to be in row format*/
    flex-direction: row;
    /*allows content to go to next line when screen size is changed*/
    flex-wrap: wrap;
}
/*elements selctor for A's under nav element*/
nav a {
    /*Clears out any decorations set by previous properties*/
    text-decoration: none;
    /*More padding on L/R then top and bottom*/
    padding: 5px 10px;
    /*Set color to variable for cyan*/
    color: var(--secondary);
    /*Margin only on right side*/
    margin-right: 10px;
    /*Provide linear gradient background when hovering*/
    background-image: linear-gradient(var(--secondary), var(--primary));
    /*does not allow BG image to repeat*/
    background-repeat: no-repeat;
    /*Limits background size to just be the bottom section*/
    background-size: 100% 0.2em;
    /*easy way to underline the text in nav bar*/
    background-position: bottom;
    /*Transition propeties effects the whole element in 0.5 seconds ease in*/
    transition: all 0.5s ease-in;
    /*sets to 1.4 times the normal font size*/
    font-size: 1.4rem;
}
/*Psuedo hover class for anchor tags in nav element*/
nav a:hover {
    /*Change background size to 100% by 100% was 100% by 0.2em*/
    background-size: 100% 100%;
    /*Change text color to light variable needed for contrast*/
    color: var(--light);
}
/*last annchor element will have no right margin*/
nav a:last-child {
    margin-right: 0;
}
/*Hero class selector for image at top of page*/
.hero{
    /*Sets background image grabbed from the internet*/
    background-image: url("../images/topimage.jpg");
    /*ensures background image covers the entire html element it is contained in*/
    background-size: cover;
    /*Positions BG image in the center of the element*/
    background-position: center;
    /*sets minimum view height*/
    min-height: 30vh;
    /*sets text color to light variable*/
    color: var(--light);
    /*provides more padding on L/R as then top and bottom*/
    padding: 2% 6%;
    /*allows content to follow flexbox model*/
    display: flex;
    /*packs flex items from the end*/
    justify-content: flex-end;
    /*packs flex items from the end*/
    align-items: flex-end;
    /*aligns text to the right */
    text-align: right;
    /*pads left hand side*/
    padding-left: 10vw;
}
/*element selector for all images under hero class, this is the picture of myself*/
.hero img {
    /*Set width for image of myself*/
    width: 150px;
    /*set margin to push away from side of the page*/
    margin: 20px;
    /*round out the corners of the border radius*/
    border-radius: 50%;
    /*Lower opacity so it becomes clear when hovered over*/
    opacity: 0.8;
}
/*Pseudo class hover for image elements that fall within hero class elements*/
.hero img:hover{
    /*make image clear when hovered over currently 0.8*/
    opacity: 1;
}
/*Element Selector for all divs under hero class*/
.hero div {
    /*image does not change when screen size is adjusted*/
    flex: 0 0 90%;
}
/*Element selector for all h2's under the hero class*/
.hero h2 {
    /*Sets BGC to Cyan*/
    background-color: var(--secondary);
    /*set text color to dark blue*/
    color: var(--tertiary);
    /*No margin*/
    margin: 0;
    /*More L/R padding then top and bottom*/
    padding: 5px 10px;
    /*set font sixe to 25 pixels*/
    font-size: 25px;
    /*Provide line height between things*/
    line-height: 2.5;
    /*keeps h2 elements inline as opposed to block*/
    display: inline;
    /*set fonts*/
    font-family: fantasy, monospace, 'Courier New', Courier, monospace ;
}
/*Class selector sets max width and auto margins for the entire page*/
.page{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/*Class selector for different section of the site About Me, Work, Contact Me*/
.section{
    /*Sets margin for top and bottom of each section none on L/R*/
    margin: 25px 0;
    /*Sets padding on top and bottom none on L/R*/
    padding: 10px 0;
    /*Allows elements within section to follow flex box model*/
    display: flex;
    /*Sets elements in section to be in row format*/
    flex-direction: row;
    /*Allows elements to coninue onto next line when screen is changed*/
    flex-wrap: wrap;
    /*Allows elements to stetch entire area of the element*/
    align-items: stretch;
    /*Provides space between elements*/
    justify-content: space-between;

}
/*Child Combinator effects only h2 elements that are children withint the section*/
.section > h2{
    /*Keeps headers position the same during screen changes*/
    flex: 0 0 20%;
    /*Sets font family to monospace*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*Aligns text to the right side of the header elements*/
    text-align: right;
    /*Pushes Heade to the right side*/
    padding-right: 15px;
    /*Gives border on the right side, seperates from content within that section*/
    border-right: 4px solid var(--dark);
    /*Sets text 2.5 of the root font size within the view window*/
    font-size: 2.5vw;
    /*Line height bewtween lines*/
    line-height: 1.1;
    /*Sets color to purple variable*/
    color: var(--primary);
}
/*Child combinator effects all divs within section class*/
.section > div{
    /*keeps div elements the same size up to 75%*/
    flex: 0 0 75%;
}
/*Element selector for all paragraph tags within section element*/
.section p{
    /*sets bottom margin*/
    margin-bottom: 20px;
    /*sets text color to black*/
    color: black;
    /*sets font to monospace*/
    font-family: monospace;
    /*serts font size*/
    font-size: 20px;
}
/*Class selector to hold Grid Items, Work sectin broken down into a grid*/
.grid {
    /*Set display to grid*/
    display: grid;
    /*Grid takes up 100% of the width of the element it's contained in*/
    width: 100%;
    /*Sets grid template for columns 12 columns wide*/
    grid-template-columns: repeat(12,1fr);
    /*Sets column gap*/
    grid-column-gap: 5px;
    /*Sets row gap*/
    grid-row-gap: 5px;
}
/*Class selector for grid items, represents each individual project under work section*/
.grid-item{
    /*sets initial border solid and purple*/
    border: 5px solid var(--primary);
    /*Normal column takes up up 4/12 spaces*/
    grid-column: span 4;
    /*Set BGC for Luminosity*/
    background-color: var(--primary);
    /*Sets text color to darkblue*/
    color: var(--tertiary);
    /*min height for each item is 100px*/
    min-height: 100px;
    /*Allows element items to follow flexbox model*/
    display: flex;
    /*Stacks elements from the end*/
    align-items: flex-end;
    /*Only provide padding on the bottom of each grid item*/
    padding: 0 0 20px 0;
    /*No text decoration no underline or etc*/
    text-decoration: none;
    /*Keeps different color until hovered over*/
    background-blend-mode:luminosity;
    /*Makes BG image take up more than needed */
    background-size: 100%;
    /*Make font slight smaller then default font size*/
    font-size: 0.8rem;
}
/*Make first child in grid slightly large than the others*/
.grid-item:first-child {
    /*Make first child span 8/12 columns instead of just 4*/
    grid-column: span 8;
    /*Make first child span 2 rows which instead of just 1*/
    grid-row: span 2;
}
/*Psuedo class for hover of Grid items*/
.grid-item:hover {
    /*Change BGC to black*/
    background-color: rgba(0, 0, 0, 0.3);
    /*change border color to highlight the grid item*/
    border-color: tomato;
}
/*Element selector for all divs within grid-item class*/
.grid-item div {
    /*Set BGC to Cyan*/
    background-color: var(--secondary);
    /*Give the div a padding to git within the grid item elements*/
    padding: 8px 10px;
}
/*Element selector for all h3 tags within grid-item elements*/
.grid-item h3 {
    /*Make size slightly large then default font size*/
    font-size: 1.4rem;
    /*Set the color of the header to dark blue*/
    color: var(--dark);
}
/*Sets BG image for horiseon grid item*/
.horiseon {
    background-image: url("../images/horiseon.png");
}
/*Sets BG image for treausre game grid item*/
.treasureGame{
    background-image: url("../images/treasuregame.jpg");
}
/*Sets BG image for block chain grid item*/
.blockChain{
    background-image: url("../images/blockchain.jpg");
}
/*Sets BG image for sockets grid item*/
.sockets{
    background-image: url("../images/sockets.jpg");
}
/*Sets BG image for tree grid item*/
.tree{
    background-image: url("../images/tree.jpg");
}
/*Sets BG image for weather service grid item*/
.weatherService{
    background-image: url("../images/weather.jpg");
}
/*Sets BG image for about me grid item, currently hidden to make the grid look nice*/
.about-me-site{
    background-image: url("../images/aboutme.jpg");
}

/*Element selector for all address tags contained within Contact Me class*/
.contactMe address{
    /*Allows content with element to follow flex box model*/
    display: flex;
    /*Allows content to wrap to the next line when screen changes size*/
    flex: wrap;
    /*Provides space around the contents of the element*/
    justify-content: space-around;
    /*Aligns the content to the center of the element*/
    align-items: center;
    /*Sets height to 100% of the element it is contained in*/
    height: 100%;
}
/*Element selector for all anchor tags within an address element within the contact me class element*/
.contactMe address a{
    /*Set color for anchor text*/
    color: tomato;
    /*padding on all sides of theanchor tagh*/
    padding: 5px;
    /*Removes text decorations*/
    text-decoration: none;
    /*slightly larger font size then default*/
    font-size: 1.1rem;
    /*normal font size*/
    font-style: normal;
    /*provide backgroundimage and underline*/
    background-image: linear-gradient(270deg, var(--primary) 0%, tomato 100%);
    /*m,akes sure background does not repeat*/
    background-repeat: no-repeat;
    /*Provides small background before hover*/
    background-size: 100% 0.2em;
    /*positions at the bottom for underline*/
    background-position: bottom;
    /*properties for transition/ hover*/
    transition: all 0.25s ease-in;
    /*provides margins for addresses*/
    margin: 0 0.2rem 0.1rem;
    /*allows addresses to follow flex box model*/
    display: inline-block;
}
/*psuedo class for address elements under contactMe class*/
.contactMe address a:hover {
    /*Changes background size when hovered over*/
    background-size: 100% 88%;
    /*Changes text color to be seen better*/
    color: var(--light);
}

/* Footer formatting */
footer  {
    /*Sets footer to slightly larger then default size*/
    font-size: 1.5em;
    /*Aligns footer to center*/
    text-align: center;
    /*pushes content to the bototm of the footer element*/
    vertical-align: bottom;
    
  }
/*Psuedo clas for hover over anchor tags within the footer element*/
footer a:hover{
    /*Changes background image size when hovered over*/
    background-size: 100% 100%;
    /*changes text color to be seen better*/
    color: var(--light);
    /*Gives a gradient background color when hovered over*/
    background-image: linear-gradient(270deg, var(--primary) 0%, tomato 100%);
} 

/*At rules for when screen size changes Tablets*/
@media screen and (max-width: 980px) {
    /*Change header propeties*/    
    header {
        /*Provides padding only to the bottom*/
        padding: 0 0 10px 0;
        /*Aligns content to the center of the header*/
        justify-content: center;
        /*aligns text to the center*/
        text-align: center;
    }
    /*Changes to h1 header*/
    header h1 {
        /*Takes up 100% of the element it is contained in*/
        width: 100%;
        /*Provides padding all around*/
        padding: 5px;
        /*Provides margin all around*/
        margin-bottom: 10px;
        /*Changes font size to fit view port*/
        font-size: 10vw;
    }
    /*Changes to nav elements*/
    header nav {
        /*Centers the content of the nav element*/
        justify-content: center;
    }
    /*Child combinator changes h2 tags under section class*/
    .section > h2,
    /*Child combinator changes div tags under section class*/
    .section > div {
        
        flex: 0 0 100%;
    }
    /*Child combinator changes h2 tags under section class*/
    .section > h2 {
        /*Remove right hand border*/
        border-right: none;
        /*Change bnorder to the bottom instead*/
        border-bottom: 4px solid var(--dark);
        /*provides bottom margin for header*/
        margin-bottom: 20px;
        /*provides bottom padding*/
        padding-bottom: 10px;
        /*pushes text to the left hand side of header*/
        text-align: left;
        /*Makes font slightly large in the viewport*/
        font-size: 7vw;
    }
    /*Changes to hero class*/
    .hero {
        /*Makes Hero section stack in a column*/
        flex-direction: column;
        /*Gives space between contetn*/
        justify-content: space-between;
        /*Aligns items (img) to the center of the hero class*/
        align-items: center;
        /*Aligns text to the center*/
        text-align: center;
        /*Provides padding on the left of the hero class*/
        padding-left: 50px;
    }
}

/* Max Width 768px Phones*/
@media screen and (max-width: 768px) {
    /*Changes grid item and first child grid item*/
    .grid-item,
    .grid-item:first-child {
        /*Makes grid item take 1 row and 1 column*/
        /*Makes sure first child now takes up same amount of space as the rest*/
        grid-column: 1 / -1;
    }
    /*Changes the row format when screen is small enough*/
    .grid-container {
        grid-auto-rows: minmax(200px, 1fr);
    }
    /*Changes to address elements*/
    .contactMe address {
        /*Makes address stack in a column as opposed to cramping together*/
        flex-direction: column;
        /*Aligns address to the center of the element*/
        align-items: center;
    }
}
